/***** HOME *****/
.cover__page {
    margin-bottom: 25px;
}

.text__disclaimer {
    font-size: 12px;
    letter-spacing: 1px;
}


/***** OBJECTIVE *****/
.objectives__content {
    display: flex;
    flex-direction: column;
}

.investments .content {
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
}

.donations .content {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
}

/***** CONTRIBUTIONS *****/
.contributions__content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.contributions__description {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}

.contributions__info {
    position: relative;
    height: 70px;
    max-width: 100%;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.progress {
    margin: 0 auto;
    width: 97%;
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    position: absolute;
    bottom: 0;
}

.contributions__content img{
    position: absolute;
}

.campaing__stages {
    display: none;
}

.campaing__stages-label {
    display: inline-block;
    padding: 3px 8px;
    color: var(--primary-text-color);
    text-shadow: 0 1px var(--background-color);
    border-radius: 3px;
    cursor: pointer;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campaing__stages-label span{
    display: none;
}
   
.campaing__stages:checked + label {
    color: var(--secondary-color);
    background: rgba(0, 0, 0, 0.25);
}

.icon-arrow {
    transform: rotate(90deg);
    height: 15px;
    width: 15px;
    color: #5EBDCF;
}

.line-stages {
    height: 16px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#zero:checked ~ .progress > .line-stages {
    width: 1%;
    background-color: #f63a0f;
}

#twentyfive:checked ~ .progress > .line-stages {
    width: 25%;
    background-color: #f27011;
}

#fifty:checked ~ .progress > .line-stages {
    width: 50%;
    background-color: #f2b01e;
}

#seventyFive:checked ~ .progress > .line-stages {
    width: 75%;
    background-color: #f2d31b;
}

#oneHundred:checked ~ .progress > .line-stages {
    width: 100%;
    background-color: #86e01e;
}

.stage--one{
    left: 0;
}

.stage--two{
    left: 25%;
    transform: translateX(-25%);
}

.stage--three{
    left: 50%;
    transform: translateX(-50%);
}

.stage--four{
    left: 75%;
    transform: translateX(-75%);
}

.stage--five{
    right: 0;
}

.contributions__description:last-child{
    padding-right: 0;
}

.objectives__content .content:last-child {
    padding-right: 0;
}

.donations .objectives__content{
    flex-wrap: wrap;
}

/***** CONTRIBUTIONS AND OBJECTIVES *****/
.information {
    position: relative;
    display: inline-block;
    margin: 0px;
    max-width: 100%;
    background-color: #DE7E7E;
    color: #000;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.information img, .objectives__content h3{
    vertical-align: top;
    max-width: 100%;
}

figcaption {
    background-color: #5EBDCF;
    position: absolute;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campaing__contributions .information {
    background-color: #000;
}

.contributions__description figcaption{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.objectives__content figcaption{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.contributions__description figcaption.showDescription{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.objectives__content .information:hover figcaption{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.information button {
    border: none;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 14px;
}

.information .image-text {
    bottom: -32px;
    max-width: 230px;
}

/***** TEAM *****/
.campaing__team {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.team__content {
    padding: 0 40px;
    margin-bottom: 40px;
}

.team__image {
    width: 180px;
    height: 180px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.team__appointment {
    font-size: 18px;
    margin-top: 12px;
}

.team__description {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}

/***** FAQ *****/
#accordion .body{
    height: 0;
    padding: 10px;
    opacity: 0;
    transition: height 0.6s ease;
}
  
#accordion .header{
    color: #DE7E7E;
}

#accordion .active .body {
    height: 175px;
    transition: height 0.5s ease; 
    opacity: 1;
}

#accordion .panel{
    border-bottom: solid 1px #fff;
    margin: 15px 0;
    padding: 8px 5px;
    border-radius: 2px;
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 568px) {
    header {
        flex-direction: row;
    }

    .nav-toggle {
        display: none;
    }

    nav {
        opacity: 1;
        height: auto;
    }

    nav ul {
        flex-direction: row; 
    }

    .collapse {
        height: 50px;
    }
    
    .tablink {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .content__page{
        padding: 0 40px;
    }

    footer {
        padding: 20px 30px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer p{
        margin-bottom: 0;
    }

    .campaing__team {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team__content {
        padding: 0;
        margin-bottom: 40px;
        width: calc((100% / 2) - 10px);
        margin-right: 10px;
    }

    .wrapper {
        min-height: calc(100vh - 58px);
    }
}

@media only screen and (min-width: 768px) {
    .header__image {
        height: auto;
    }

    .team__description {
        font-size: 20px;
    }

    .team__content {
        width: calc((100% / 4) - 10px);
    }

    .team__appointment {
        font-size: 16px;
    }

    .team__image {
        width: 140px;
        height: 140px;
    }
}

@media only screen and (min-width: 992px) {
    .content__page {
        max-width: 1200px;
        padding: 0 10px;
    }
    
    .header__image {
        width: 100%;
        height: auto;
    }
    
    .header__image img {
        width: 100%;
        height: auto;
    }
    
    .header__info {
        flex-direction: row;
    }
    
    .header__claim {
        margin-left: 15px;
        font-size: 22px;
    }

    .campaing__presentation {
        flex-direction: row;
    }

    .media {
        margin-right: 30px;
    }

    video {
        width: 460px;
    }
    
    audio{
        width: 460px;
    }

    .objectives__content {
        flex-direction: row;
    }

    .investments .content {
        width: 25%;
        padding-right: 30px;
    }

    .donations .content {
        padding: 10px 30px 10px 0;
        width: calc(33.333% - 30px);
    }

    .contributions__content {
        flex-direction: row;
    }

    .contributions__description {
        padding-right: 30px;
        width: 33.333%;
    }

    .contributions__info {
        width: 80%;
    }
}
